/* General CSS */
/* Declare color scheme: TO BE CONFIRMED*/
:root{
    --header-height: 10rem;
    --orange: #ff7800;      /* hover text */
    --silver: #c0c0c0;      /* hover background */
    --gray: #ddd;           /* hover background - previous page icon */
    --black: #130f40;       /* text */
    --white: #fff;          /* header background */
    --light-gray: #eee;     /* body background */
    --light-gray1: #f1f1f1; /* menu-dropdown background */
    --light-gray2: #ccc;    /* separator line & SOLD background*/ 
    --medium-gray: #999;    /* button background */
    --dark-gray: #666;      /* suspended background */
    --yellow: #ffd300;      /* star rating */
    --light-pink: #FFB6C1;  /* sold background*/
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}

/* General style */
*{
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    /*text-transform: capitalize;*/
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;             /* Hide content that overflow horizontally */
    scroll-behavior: smooth;        /* Smooth scrolling for the entire page */
    scroll-padding-top: 7rem;       /* Ensure that content is not hidden under the fixed header when scrolling */
}

body {
    padding: var(--header-height); /* To match the height of the header*/
    background: #eee;
}

/* ---------------------------------- */
/* Header CSS - STANDARD */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.header .logo{
    font-size: 2.5rem;
    color:var(--black);
}

.header a{
    font-size: 1.7rem;
    margin: 1rem;
    color: var(--black);
}

.header a:hover{
    color: var(--orange);
}

.header .navbar span{
    font-size: 1.7rem;
    margin: 1rem;
    color: var(--black)
}

/* drop-down icon */
.arrow {
    border: solid var(--black);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    vertical-align: middle;     /* Align it with the text */
    margin-left: 1rem;          /* Add space between the button and the arrow */
    position: relative;         /* Allow positioning adjustments */
    top: -2px;                  /* Move the arrow up;*/
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Dropdown Button */
.dropbtn {
    background-color: var(--white);
    font-size: 1.7rem;
    margin: 1rem;
    color: var(--black);
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    /*background-color: var(--orange);*/
    color: var(--orange);
}
  
/* The container <div> - needed to position the dropdown content */
.menu {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.menu-content {
    display: none;
    position: absolute;
    background-color: var(--light-gray1);
    min-width: 160px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}
  
/* Links inside the dropdown */
.menu-content a {
    color: var(--black);
    padding: 6px 12px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.menu-content a:hover {
    background-color: var(--silver);
    border: var(--border);
    outline: var(--outline-hover);
}
  
/* Show the dropdown menu 
(use JS to add this class to the .menu-content container 
when the user clicks on the dropdown button) */
.show {
    display:block;
}

/* Previous page icon - return to previous page */
.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: var(--black);
}

.round {
    border-radius: 50%;
}
  
.previous:hover {
    background-color: var(--gray);
}

/* ---------------------------------- */
/* homePage CSS */
/* Image below the header */
.car-image {
    width: 100%;        /* Cover the full width of the viewport */
    height: 200px;      /* Set the height to 200 pixels */
    object-fit: cover;  /* Ensures the image covers the area without distortion */
}

/* General Layout */
.card {
    background-color: var(--white);
    border-radius: 18px;
    box-shadow: var(--box-shadow);
    height: auto;
    margin: 20px auto;                  /* Center the card with auto margins */
    padding: 20px 50px 20px 50px;
    /*width: 80%;                         /* Adjust this value as needed */
    max-width: 950px;                   /* Set a maximum width */
    overflow: hidden;                   /* Prevent content overflowing */
}

.account-info {
    overflow-x: auto;                   /* Horizontal scroll if the table is too wide */
}

table {
    width: 100%;                        /* Full width of the card */
    border-collapse: collapse;          /* Collapse borders for a cleaner look */
    font-size: 1.5rem;                  /* Set font size for the table */
}

th, td {
    padding: 10px;                      /* Cell padding */
    text-align: left;                   /* Left alignment */
   /*border: 1px solid #ddd;           /* Cell borders - FOR CHECKING */
    /*text-transform: none;               /* Preserve original capitalization */
    white-space: nowrap;                /* Prevent text wrapping */
}

/* Basic styling for the search bar */
.search-container { /* not used */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
.search-car {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--light-gray2);
    border-radius: 20px;
    width: 400px;
}

.search-price {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--light-gray2);
    border-radius: 20px;
    width: 150px;
}
  
.search-button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--orange);
    color: white;
    cursor: pointer;
    margin-left: 5px;
}
  
.search-button:hover {
    opacity: .6;
}

/* Car listings */
/* Responsive grid - layout */
.grid-container{
    display: grid;
    grid-template-columns: 
        repeat(auto-fit,
               minmax(380px, 1fr));     /* each column at least 320px*/
    gap: 10px;
    justify-items: start;               /* Align items to left */
    /*border: 1px solid black;          /* Cell borders - FOR CHECKING */
}

/* Individual car listing */
.car-card {
    background-color: var(--white);
    border-radius: 18px;
    box-shadow: var(--box-shadow);
    height: auto;
    margin: 10px auto;                  /* Left align, change 20px to auto to center align */
    padding: 10px 30px;
    /*width: 400px;                       /* Fixed width */
    width: 100%;                        /* Set width to 100% to fill the grid cell */
    max-width: 380px;                   /* Optional: Max width to limit size on larger screens */
    height: 120px;                      /* Fixed height */
    /*overflow: hidden;                   /* Prevent content overflowing */
    display: flex;                      /* Use flexbox for internal layout */
    flex-direction: column;             /* Stack items vertically */
}

/* Alignment for car-name & shortlist(heart-icon) */
.car-header {
    display: flex;                  /* Use flexbox for alignment */
    justify-content: space-between; /* Space between element */
    align-items: center;            /* Center align items vertically */
    margin-bottom: auto;            /* Push car-info to the bottom of the car-card */
}

.car-name {
    font-size: 1.5rem;                  /* Font size for the car name */
    font-weight: bold;                  /* Bold text for emphasis */
    /*margin-bottom: auto;                /* Push car-info to the bottom of the car-card */
}

.price-button {
    display: flex;                      /* Use flexbox for alignment */
    justify-content: space-between;     /* Space between price and button */
    align-items: center;                /* Center vertically */
}

.price {
    font-size: 1.7rem;                  /* Font size for the price */
    font-weight: bold;                  /* Bold text for emphasis */
    color: green;                     /* Color for price */
}

/* View Details button - adapt from Create & Cancel button */
/* to populate no. of views */
.create-button {
    width: 100px;
    height: 34px;
    border: none;
    outline: none;
    background: var(--orange);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white);
    border-radius: 4px;
    transition: .3s;
}

.create-button:hover{
    opacity: .6;
}

/* Sold Cars - adapt from suspend button */
.disabled {
    pointer-events: none;                   /* Disable all mouse events */
    background-color: var(--light-pink);    /* Light pink background */
}

.disabled button{
    opacity: 0.5;       /* Lighten the button (not clickable) */
}

.sold-label {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

/* Shortlisting - heart-icon*/
.shortlist{
    pointer-events: auto;   /* Allow interaction with the shortlist */
    opacity: 1;             /* Ensure full opacity */
}

/* Keep checkbox and label functional */
.shortlist input {
    display: none;          /* Hide the checkbox */
    pointer-events: auto;   /* Ensure the checkbox is interactive */
}

.shortlist label {          /* Default heart */
    float: right;
    cursor: pointer;
    color: var(--medium-gray);
}

.shortlist label:before {   /* Display stars before the label of each rating option */
    content: '\2764';       /* Unicode for a solid heart */
    font-size: 3rem;
}

.shortlist input:checked~label {    /* Change heart color when checked */
    color: red;
}

/* ---------------------------------- */
/* POP UP WINDOW - Car Reg Date, Agent's Email & Loan Calculator */
/* Overlay background styling */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: none;
    justify-content: center;
    align-items: center;
}

/* Popup box styling */
.popup-box {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

/* Align <p> and <span> */
.info-line {
    display: flex;                 /* Use flexbox */
    justify-content: center;       /* Center align items horizontally */
    align-items: center;           /* Align items vertically centered */
    margin: 5px 0;                 /* Add vertical spacing */
}

/* styling for <p> */
.info-line p, .popup-overlay p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;                    /* Remove default margin */
    margin-right: 8px;            /* Space between elements */
}

/* Styling for <span> */
.info-line span {
    font-size: 1.2rem;
}

/* Calculate Loan - table layout */
.info-table {
    width: 75%;                         /* Full width of the card */
    border-collapse: separate;          /* Collapse borders for a cleaner look */
    margin: 0 auto;                     /* Center the table horizontally */
    border-radius: 5px;
    border: 1px solid #ddd;
    overflow: hidden; /* Clip corners */

}

.info-table th {
    padding: 5px;                      /* Cell padding */
    text-align: left;                   /* Left alignment */
    /*border: 1px solid #ddd;           /* Cell borders - FOR CHECKING */
    /*text-transform: none;               /* Preserve original capitalization */
    white-space: nowrap;                /* Prevent text wrapping */
    font-size: 1.3rem;                  /* Set font size for the table */
}

.info-table td {
    padding: 5px;                      /* Cell padding */
    text-align: left;                   /* Left alignment */
    /*border: 1px solid #ddd;           /* Cell borders - FOR CHECKING */
    /*text-transform: none;               /* Preserve original capitalization */
    white-space: nowrap;                /* Prevent text wrapping */
    font-size: 1.2rem;                  /* Set font size for the table */
}

.light-grey-border {
    border: 1px solid #ddd;           /* Cell borders */
    padding: 10px;                      /* Add padding for better spacing */
    background-color: #f8f8f8;        /* Optional: Background color for the row */
}

/* Set fixed widths for each column */
.info-table th:nth-child(1),
.info-table td:nth-child(1) {
    width: 30%;                        /* First column width */
}

.info-table th:nth-child(2),
.info-table td:nth-child(2) {
    width: 10%;                        /* Second column width */
}

.info-table th:nth-child(3),
.info-table td:nth-child(3) {
    width: 60%;                        /* Third column width */
}

/* Dollar sign styling */
.info-table td.dollar-sign {
    text-align: right;
    font-weight: bold;
}

/* 3 percentage buttons for Down Payment*/
.down-payment-button {
    width: 85px;
    height: 34px;
    border: var(--border);
    outline: none;
    background: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--black);
    border-radius: 4px;
    transition: .3s;
}

.selected {
    outline: none; /* Remove the default outline */
    border: 1px solid green; /* Set a green border */
    box-shadow: 0 0 5px green; /* Optional: Add a subtle glow effect */
    color: green;
}

/* User input Car Price, Down Payment & Interest Rate - modified */
.form-control1{
    width: 100%;
    height: 30px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 0;
    padding: 0 10px;
    padding-right: 30px; /* Add padding to the right to prevent text overlap */
}

/* Fixed percentage sign for interest rate input */
.interest-rate-container {
    width: 100%;
    position: relative;             /* Position relative for absolute positioning of child elements */
    display: inline-block;          /* Inline-block for proper alignment */
}

.percentage-sign {
    position: absolute;
    right: 10px;                    /* Adjust this value for spacing */
    top: 50%;                       /* Center vertically */
    transform: translateY(-50%);    /* Adjust for vertical centering */
    pointer-events: none;           /* Prevent clicking on the span */
}

/* Loan Term - dropdown styling */
.form-control2{
    width: 100%;
    height: 30;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    /*margin: 10px 0 18px 0;*/
    padding: 10px;                      /* Padding to textarea */
    resize: none;                       /* Prevent resizing */
    box-sizing: border-box;             /* Include padding and border in height */
}

/* Display - Total Interest Paid, Total Paid Amount, Loan Amount, Monthly Instalment */
.summary-container {
    display: flex;                         /* Use flexbox for layout */
    justify-content: space-between;        /* Space between the items */
    align-items: center;                   /* Center align items vertically */
    text-align: center;                    /* Center align text in each item */
    padding: 0 70px;                        /* Optional: Add padding for spacing */
}

.summary-item {
    display: flex;                         /* Use flexbox for inner layout */
    flex-direction: column;                /* Stack items vertically */
    align-items: center;                   /* Center align items */
}

.summary-item p {
    font-size: 1rem;
    color: var(--medium-gray);
}

.summary-item span {
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
}

.summary-item #totalInterestPaid {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);
}

.summary-item #totalPaidAmount {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

/* Close button styling */
.close-btn {
    width: 100px;
    height: 34px;
    border: none;
    outline: none;
    padding: 10px 15px;
    margin-top: 16px;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: red;
    color: var(--white);
    cursor: pointer;
}

.close-btn:hover {
    opacity: 0.6;
}

/* ---------------------------------- */
/* carDetailsPage - NOT USED */
/* Individual info container */
.info-container {
    margin-bottom: 15px;                        /* Space between container */
    padding: 10px;                              /* Padding inside each container */
    border: 1px solid var(--light-gray);                /* Border for each container*/
    border-radius: 5px;                         /* Rounded corners for container */
    background-color: var(--light-gray1);        /* Background color - FOR CHECKING */
}

.info-container .price {
    font-size: 1.8rem;                  /* Font size for the price */
    font-weight: bold;                  /* Bold text for emphasis */
    color: green;                     /* Color for price */
}

.info-container p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* ---------------------------------- */
/* viewRatingReviewPage CSS */
.rating-card {
    background-color: var(--white);
    border-radius: 18px;
    box-shadow: var(--box-shadow);
    height: auto;
    margin: 20px auto;                  /* Center the card with auto margins */
    padding: 20px 50px 20px 50px;
    width: 40%;                         /* Adjust this value as needed */
    max-width: 600px;                   /* Set a maximum width */
    overflow: hidden;                   /* Prevent content overflowing */
}

.overall-rating-container {
    display: flex;
    align-items: center;
    justify-content: space-center; /* Center-aligns the container content */
    gap: 0px; /* Adds space between agent card and button */
    margin-top: 20px;
    margin: 0 auto;
    max-width: 620px;
    margin-top: 20px;
}

#overall-rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.create-rating-review-btn {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    background: var(--orange);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white);
    border-radius: 4px;
    transition: .3s;
    margin-left: 60px;      
    display: block;        
}

.create-rating-review-btn:hover {
    opacity: .6;
}



/* Profile-icon */
.center {                               /* Center alignment */
    text-align: center;
}

.round-image {
    width: 70px;                        /* Image width */
    height: 70px;                       /* Image height */
    border-radius: 60%;                 /* Makes the image round */
    object-fit: cover;                  /* Cover the area without distortion */
    border: 3px solid var(--light-gray2);
}

/* Add specific right border style to the last column */
.right-border {
    border-right: 2px solid var(--silver); /* Change color and width as needed */
}


/* Individual Rating & Review - layout */
.review-card {
    background-color: var(--white);
    border-radius: 18px;
    box-shadow: var(--box-shadow);
    height: auto;
    margin: 20px auto;                  /* Center the card with auto margins */
    padding: 20px 50px 20px 50px;
    /*width: 80%;                         /* Adjust this value as needed */
    max-width: 950px;                   /* Set a maximum width */
    overflow: hidden;                   /* Prevent content overflowing */
}

/* Star-icon */
.star {
    display: flex;          /* Use flexbox for alignment */
    align-items: center;    /* Center align items vertically */
    pointer-events: none;                   /* Disable all mouse events */
}

.star input {
    display: none;     /* hide the radio buttons */
}

.star label {         /* yellow star */
    float: right;
    cursor: pointer;
    color: var(--yellow);
}

.star label:before {        /* display stars before the label of each rating option */
    content: '\2605';       /* unicode for a solid star */
    font-size: 2rem;
}

/* Display no. of star rating */
.rating-text {
    font-size: 1.75rem;
    color: var(--black);
    line-height: 1.5;
    margin-left: 5px;
}

/* Align reviewer's Username & the star-icon */
.review-header {
    display: flex;                  /* Use flexbox for alignment */
    justify-content: space-between; /* Space between username and star rating */
    align-items: center;            /* Center align items vertically */
}

.review-username {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2;
}

.review {
    font-size: 1.5rem;
    color: var(--black);
    line-height: 1.5;
}

/* ---------------------------------- */
/* viewAgentPage CSS */
.view-profile-card {
    max-width: 1000px;
}

/* Search bar */
.search-email {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--light-gray2);
    border-radius: 4px;
    width: 300px;
}

/* Agent info readonly fields */
.card .account-info .form-control1{
    width: 100%;
    height: 40px;
    /*background: white;*/
    /*border-radius: 4px;*/
    /*border: 1px solid silver;
    /*margin: 10px 0 18px 0;*/
    /*padding: 0 10px;*/
}

/* view rating & review button - adapt from create-button*/
.rating-review-button {
    width: 160px;
    height: 34px;
    border: none;
    outline: none;
    background: var(--orange);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white);
    border-radius: 4px;
    transition: .3s;
    margin-left: auto;      /* Pushes the button to the right */
    display: block;         /* Makes the button a block element */
}

.rating-review-button:hover{
    opacity: .6;
}

/* Add bottom border to separate each row of Agent info */
#agentInfoTable .border-row {
    position: relative; /* Required for positioning the pseudo-element */
}

#agentInfoTable .border-row td::after {
    content: '';
    display: block;
    height: 1px;                    /* Thickness of the border */
    background: #ccc;             /* Color of the border */
    position: absolute;
    left: 50%;                      /* Center the border */
    transform: translateX(-50%);    /* Adjust to center */
    width: 90%;                     /* Adjust the width of the border */
    bottom: 0;                      /* Position it at the bottom of the cell */
}

/* Star-icon - overall rating */
.overall-star {
    display: flex;          /* Use flexbox for alignment */
    align-items: center;    /* Center align items vertically */
    pointer-events: none;                   /* Disable all mouse events */
}

.overall-star input {
    display: none;     /* hide the radio buttons */
}

.overall-star label {         /* yellow star */
    float: right;
    cursor: pointer;
    color: var(--yellow);
}

.overall-star label:before {        /* display stars before the label of each rating option */
    content: '\2605';       /* unicode for a solid star */
    font-size: 1.7rem;
}

/* Display no. of star rating */
.overall-rating-text {
    font-size: 1.5rem;
    color: var(--black);
    line-height: 1.5;
    margin-left: 5px;
}

/* ---------------------------------- */
